# Ignore All
*
!*/

# Allowlist
!.git/*
!.gitignore
!.github/**
!*.config.ts
!e2e/**
!index.html
!package-lock.json
!package.json
!README.md
!src/**
!tsconfig.json

# Denylist
dist
node_modules
coverage
playwright-report
test-results
