@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100..900&display=swap');

@page {
  size: A4 portrait;
  margin: 15mm;
}

@media print {
  :root {
    background-color: white;
    print-color-adjust: exact;
  }
}
