:root {
  font-family: 'M PLUS 2';
  line-height: 1.5;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

button,
input {
  font: inherit;
}
